<ion-header>
  <ion-toolbar>
  <ion-title>
    Ranking
  </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let user of this.firestore.dataUser$| async; let i = index">
    @if(user.email == this.emailUser){
      <ion-card>
        <ion-card-header>
          <ion-card-title> {{ i + 1 }} Usuario: {{ user.email }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="full" color="primary" >
            Tu Puntuacion: {{ user.puntuacion }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    }
  </div>
 

  <h1>
    Ranking
  </h1>

  <ion-card *ngFor="let user of this.firestore.ranking$| async; let i = index">
    <ion-card-header>
      <ion-card-title> {{ i + 1 }}  Usuario: {{ user.email }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="primary" >
        Puntuacion: {{ user.puntuacion }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>



<ion-footer id="footer">
  
</ion-footer>
