<ion-header>
  <ion-toolbar>
  <ion-title>
    Ranking
  </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let user of this.firestore.ranking$| async; let i = index">
    <ion-card-header>
      <ion-card-title> {{ i + 1 }}  Usuario: {{ user.email }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="primary" >
        Puntuacion: {{ user.puntuacion }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer id="footer">
  
</ion-footer>
