<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>esta tab es para agregar</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar</ion-title>
    </ion-toolbar>    
  </ion-header>
  
  
  <ion-list [inset]="true">
    
      <ion-card *ngFor="let quiz of this.firestore.quizList$| async">
        <ion-card-header>
          <ion-card-title>¡Pon a prueba tus conocimientos! en el quiz de {{ quiz.Nombre }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="full" color="primary" (click)="startQuiz(quiz.preguntas)" >
            🏆 Iniciar Quiz
          </ion-button>
    
          <ion-button expand="full" color="secondary">
            📊 Ver Ranking
          </ion-button>
        </ion-card-content>
      </ion-card>
   
  </ion-list>
 
</ion-content>
