<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admin</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-input type="text" fill="solid" label="Nombre del Quiz" labelPlacement="floating"
    helperText="Ingrese el nombre del quiz" [(ngModel)]="name"></ion-input>
  <ion-input type="file" (change)="readExcel($event)">
  </ion-input>
  <ul>
    <li *ngFor="let quiz of this.firestore.quizList$| async">
        Nombre Quiz:  {{quiz.Nombre}}
    </li>
</ul>
</ion-content>