

<ion-content [fullscreen]="true" padding class="background">
  <ion-header collapse="condense">
    
  </ion-header>

  <div id="container">
    <ion-text color="primary">
      <h1>LogIn</h1>
    </ion-text>
    <ion-card class="card-login">
      <ion-card-content>
        <ion-input [(ngModel)]="email" label="Email" label-placement="floating" fill="outline" placeholder="Ingrese su email" type="email"></ion-input>
        <ion-input [(ngModel)]="password" label="Password" label-placement="floating" fill="outline" placeholder="Ingrese su contraseñá" type="password"></ion-input>
      </ion-card-content>
      <ion-button (click)="validateData()">Acceder</ion-button>
    </ion-card>  
  </div>
</ion-content>
