<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card-login">
      <ion-card-content>
        <ion-input [(ngModel)]="email" label="Email" label-placement="floating" fill="outline" placeholder="Ingrese su email" type="email"></ion-input>
        <ion-input [(ngModel)]="password" label="Password" label-placement="floating" fill="outline" placeholder="Ingrese su contraseñá" type="password"></ion-input>
      </ion-card-content>
      <ion-button (click)="createUser()">
        CREAR
      </ion-button>
    </ion-card> 
</ion-content>
